@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo(a)</h1>
    <p>:)</p>

     <a class="btn btn-primary pb-2" asp-area="" asp-controller="Home" asp-action="Cadastro">Começe</a>
</div>
